@import "../../variables.scss";

.employees__container {
  text-align: center;
  background-image: url(../../assets/img/background.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .employees__container-custom-container {
    max-width: 720px;

    @media (max-width: 767px) {
      max-width: 390px;
    }

    .employees__container-custom-buttons {
      margin-top: 20px;
    }

    .employees__container-company-logo {
      width: 100%;
      margin-top: 20px;
    }

    .employees__container-form-control {
      width: 100%;
    }

    .employees__container-search-box {
      margin-top: 20px;
    }

    .employees__container-user-role-heading {
      font-size: 14px;
      line-height: 16px;
      color: $gray-three;
      margin: 20px;
    }

    .employees__container-admin-text {
      text-align: left;
      margin: 0;
    }

    .employees__container-sort-by {
      text-align: right;
      margin: 0;
    }

    .employees__container-sort-by-text {
      cursor: pointer;
      color: $gray-one;
    }

  }

}
