@import "../../variables.scss";

.card__form {
  padding: 30px;
  background-color: white;
  text-align: left;

  @media (min-width: 768px) {
    margin-top: 113px;
  }

  .card__form-button {
    background-color: $green-one;
  }

  .card__form-icon-container {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: $black-one;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;

    .card__form-close {
      color: white;
    }
  }
}
